player-connection-mode=Listen
player-connection-guid=1240279922
player-connection-debug=1
player-connection-project-name=BCI-game
player-connection-ip=192.168.0.187
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=XRSDKOpenVR
