player-connection-mode=Listen
player-connection-guid=3915103781
player-connection-debug=1
player-connection-project-name=VR-neurofeedback
player-connection-ip=192.168.30.150
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=XRSDKOpenVR
